<h1>nouvelle partie</h1>
<div class="principale">
  <div class="figurine_gauche">

    <div class="figurine_J1G">
      <%# img de la figurine
      barre d'amelioration
      barre d'attaque(sur le coté) %>
      <%= @figurine.amelioration %>
      <%= @figurine.attaque %>
      <%= @figurine.degats %>
    </div>

    <div class="figurine_J2G">
      <%# img de la figurine
      barre d'amelioration
      barre d'attaque(sur le coté) %>
    </div>

  </div>

  <div class="joueurs">

    <div class="J1">
      <%# roue
      pv
      mur %>
      <%= @joueur.pv %>
      <%= @joueur.mur %>
    </div>

    <div class="J2">
       <%# roue
      pv
      mur %>
    </div>

  </div>

  <div class="figurine_droite">

    <div class="figurine_J1D">
      <%# img de la figurine
      barre d'amelioration
      barre d'attaque(sur le coté) %>
    </div>

    <div class="figurine_J2D">
      <%# img de la figurine
      barre d'amelioration
      barre d'attaque(sur le coté) %>
  </div>

</div>
